%h1{:style => "background-color: #5cb85c;color: white;text-align: center;"} #{@location.name}
%h2{:style => "text-align: center;"} Visit Dates
%h3{:style => "text-align: center;"} #{@visit.start_date}
%h3{:style => "text-align: center;"} #{@visit.end_date}