.container{:style => "background-color: white;"}    
    - if !(@photoalbums.nil?)    
        - @photoalbums.each do |album|
            .container
                =link_to album_path(album.id) do
                    =image_tag Photo.find(album.cover).data
                    %br
                    =album.title
                    %br
                    =album.description
                    %br
    =link_to "Add Album", new_album_path