$(document).on('ready page:load', function(event) {
    

    //autocomplete functions
    $('#search').autocomplete({
        minLength: 1,
        source: "/users/user_search.json",
        
        focus: function(event, ui){
            $('#search').val(ui.item.user_id);
            return false;
        },
        select: function(event, ui){
            $('#search').val(ui.item.user_id);
            return false;
        }
    })
    .data("uiAutocomplete")._renderItem = function(ul,item){
        return $("<li></li>")
            .data("item.uiAutocomplete",item)
            .append("<a href='/users/" + item.user_id + "'>" + "<div><img src='" + item.profile_pic.url + "' onerror='imgError(this);'>  " + item.user_id + "</div></a>" )
            .appendTo(ul);
    }

});

//replace missing images
function imgError(image) {
    image.onerror = "";
    image.src = "<%= asset_path 'missing.png' %>";
    return true;
}

function searching() {
    //var tester = document.getElementById("search").value;
    //alert(tester);
    document.getElementById("link_origin_id").value = document.getElementById("search").value;
    //$('#link_origin_id').val($('#search').val);
}