/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#notice {
    margin: 1em 0;
    padding-left: 10px;
}

#navbar-brand {
    color: white;
}
.navbar-center {
    margin: auto;
    display: inline-block;
    float: none;
    color: 	#5cb85c;
}

a {
    color:#5cb85c;
}

#logo {
    font-size: 2em;
    text-transform: uppercase;
}

////////////////////////////////////////////////////////////////////////////////
//newsfeed styling
////////////////////////////////////////////////////////////////////////////////
.newsfeed {
    text-align: left;
    a {
        color:#5cb85c;
        text-decoration: none;
    }
}
.news {
    display: inline-block;
    padding: 10px;
    margin-bottom: -20px;
}
.news img {
    margin:20px;
    max-height:250px;
    //max-width:250px;
}
.news-user {
    width:150px;
    display: inline-block;
    vertical-align: top;
}
.news-user img {
    max-height:150px;
    max-width:150px;
}
.news-visit-location {
    margin-left:20px;
    //font-style:italic;
}
.news-time {
    color: gray;
    text-align: center;
}
.friend-activity {
    margin-top:10px;
    opacity: 1 !important;
}

//location newsfeed
.news-user-location {
    width:100px;
    display: inline-block;
    vertical-align: top;
}
.news-user-location img {
    max-height:100px;
    max-width:100px;
}