// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#previewimage{
    max-width: 250px;
    max-height: 250px;
}
#floating-panel 
{
    position: absolute;
    top: 10%;
    left: 16%;
    z-index: 5;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#floating-panel 
{
    left: 16%;
    position: absolute;
    top: 10%;
    z-index: 5;
}
#homepage_link
{
    display:block; 
    text-align: center;
    color: #5cb85c;
    font-size: 25px;
}
#homepage_link a:hover 
{
    text-decoration: none;
}