.container.panel.panel-default  
    .panel-heading
        =render :partial => 'location'
    .panel-body
        - @reviews.each do |review|
            .panel.panel-default   
                -@review = review
                =render :partial => 'reviews/review'
                .panel-footer
                    = link_to "Expand review", review_path(review)
                    -if @current_user.id == review.user_id
                        %br
                        =link_to "Edit Review", edit_review_path(review)