.container
    .panel.panel-default
        .panel-body
            =render :partial => 'location'
        .panel-footer
            =link_to "I've been here", new_visit_path(name: @location.name, latitude: @location.latitude, longitude: @location.longitude)
    .panel.panel-default
        .panel-heading
            %h3 Latest Reviews
        .panel-body
            #location-reviews
                =render :partial => 'location_reviews'
    .panel.panel-default
        .panel-heading
            %h3 Latest Visits
        .panel-body
            #location-visits
                =render :partial => 'location_visits'
    .panel.panel-default
        .panel-heading
            Latest Photos
        .panel-body

         